h2{
    margin-right: 50%;
    margin-left: 8%;
    font-size: large;
}

h1{
    margin-left: 5%;
}

.carousel.slide{
    opacity: 1;
    width: 40%;
    position: relative;
    right: -55%;
    width: 30%;
    margin-top: -300px;

}